@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    var isUserLoggedIn = ViewData["IsUserLoggedIn"] as bool? ?? false;
    var loggedInUserName = ViewData["LoggedInUserName"] as string ?? string.Empty;
}

@if (!isUserLoggedIn)
{
    <p>You are not logged in. <a asp-page="/LoginModel">Log in</a></p>
}
else
{
    <p>Welcome, @loggedInUserName! <a asp-page="/Logout">Log out</a></p>
}

