@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!(bool)ViewData["IsUserLoggedIn"])
{
    <p>You are not logged in. <a asp-page="/LoginModel">Log in</a></p>
}
else
{
    <p>Welcome, @((string)ViewData["LoggedInUserName"])! <a asp-page="/Logout">Log out</a></p>
}

