@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AirShop.LoginPage</title>
    <link rel="stylesheet" href="./css/style1.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container-center">
        <div class="login-container">
            <form class="login-form" method="post">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" asp-for="LoginInput.Username">
                    <span asp-validation-for="LoginInput.Username" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" asp-for="LoginInput.Password">
                    <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                </div>
                <div class="button-submit">
                    <button type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>