<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!--<target name="logconsole" xsi:type="ColoredConsole" layout="${date} ${logger} ${message} ${exception:format=ToString}" />-->
		<target name="logconsole" xsi:type="ColoredConsole" layout="${date:format=dd-MM-yyyy:HH\:mm\:ss} ${level} ${logger} ${message} ${exception:format=ToString}${newline}"
            useDefaultRowHighlightingRules="false">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="White" backgroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" backgroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" backgroundColor="NoChange" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="NoChange" />
		</target>
	</targets>

	<rules>
		<logger name="AirShop.WebApiPostgre.*" minlevel="Debug" maxlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Error" writeTo="logconsole" />
	</rules>

</nlog>
