*{
    padding: 0%;
    margin:0%;
}
body{
    min-height: 100vh;
    background-color: rgb(19, 19, 19);
    background-size: auto 50.6rem;
    background-position: center;
    font-family: Helvetica;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px 10px;
    background-color: rgb(45, 45, 45);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}


.login-form {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
  
.input-group {
    margin-bottom: 20px;
}
  
.input-group label {
    display: block;
    margin-bottom: 8px;
    color: white;
}
  
.input-group input {
    width: 100%;
    padding: 10px;
   

}
.button-submit button {
    border:solid;
    background-color: transparent; /* zmiana z grey na transparent */
    width: 100%;
    padding: 10px;
    color: white;
    margin: 10px 10px;
    
}
.button-submit button:hover {
        color: white;
        text-shadow: 0 0 25px white;
}
nav {
        background-color: transparent;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;

}
nav .sidebar button{
    border: none;
    outline: none; 
    background-color: transparent;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;

    
}
nav .navbar button{
    border: none;
    outline: none; 
    background-color: transparent;
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;

}
nav .navbar button:hover{
    color: white;
    text-shadow: 0 0 25px white;
    
}
nav li:first-child{

    margin-right:auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #131313;
    backdrop-filter: blur(3px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


.sidebar li{
    width:100%;
}
.sidebar button{
    width:100%;
}

.item-details h4 {
    color: #ccc;
}

.cart-item{
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-image img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.price {
    margin-left: 10%;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom:2%;
}
.cart-summary h3{
    color:white;
    font-size:30px;
}
.cart-summary {
    margin: auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.cart-summary span{
        color: white;
        font-size: 30px;
}
.cart-summary button {
        border: solid;
        background-color: transparent; /* zmiana z grey na transparent */
        width: 100%;
        padding: 10px;
        color: white;
        margin: 10px 10px;
        align-content:baseline;

}
.cart-summary button:hover {
        color: white;
        text-shadow: 0 0 25px white;
    }
.item-details h4 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}
 .quantity > span{
     color: white;
     font-size: 10px;
    justify-content: space-between;

}










.checkout .container {
    width: 80%;
    max-width: 400px;
    padding: 30px 10px;
    background-color: rgb(45, 45, 45);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 10%;
}

.checkout h2 {
    margin-top:20%;
    color: white;
    font-size: 20px;
}

.checkout .form-group label {
    color: white;
    margin:3%;
}
.checkout .input {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}