*{
    padding: 0%;
    margin:0%;
}
body{
    min-height: 100vh;
    background-color: rgb(19, 19, 19);
    background-size: auto 50.6rem;
    background-position: center;
    font-family: Helvetica;
}
.login-container {
    width: 100%;
    max-width: 400px;
    position: absolute; 
    top: 50%; /* Położenie w 50% wysokości kontenera nadrzędnego */
    left: 50%; /* Położenie w 50% szerokości kontenera nadrzędnego */
    transform: translate(-50%, -50%); /* Przesunięcie elementu o połowę jego wysokości i szerokości w górę i w lewo */
    padding: 50px;
    background-color: rgb(45, 45, 45);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(100px + 50%); /* Jeśli navbar ma wysokość 100px */
    transform: translateX(-50%);
}
  
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
  
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
  
.input-group {
    margin-bottom: 20px;
}
  
.input-group label {
    display: block;
    margin-bottom: 8px;
    color: white;
}
  
.input-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;

}
.button-submit button {
    background-color: transparent; /* zmiana z grey na transparent */
    width: 40%;
    padding: 10px;
    color: white;
    margin: 10px 10px;
}

nav{
    background-color: transparent;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;

}
nav .sidebar button{
    border: none;
    outline: none; 
    background-color: transparent;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;

    
}
nav .navbar button{
    border: none;
    outline: none; 
    background-color: transparent;
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:white;

}
nav .navbar button:hover{
    color: white;
    text-shadow: 0 0 25px white;
    
}
nav li:first-child{

    margin-right:auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #131313;
    backdrop-filter: blur(3px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.subtitle{
    font-family: Helvetica;
    font-size: 70px;
    text-align: center;
    color: #f0f0f0;
    text-justify: auto;
}

.sidebar li{
    width:100%;
}
.sidebar button{
    width:100%;
}
